@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar__logo {
    width: 150px;
  }
  .app__container {
    display: grid;
    grid-template-rows: 96px;
  }

  .pokemon__img {
    height: 300px;
    margin: 0 auto;
  }
  .app-bg {
    background: rgb(232, 240, 231);
    background: linear-gradient(
      90deg,
      rgba(232, 240, 231, 1) 0%,
      rgba(151, 234, 244, 1) 74%
    );
  }
}

@layer utilities {
  .line-height-60 {
    line-height: 60px;
  }
  .text-3xl.active {
    color: rgb(253 224 71);
  }
  html {
    scroll-behavior: smooth;
  }
}
