@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar__logo {
    width: 150px;
  }
  .app__container {
    display: grid;
    grid-template-rows: 80px;
  }
  .pokemon__container {
    /*  width: auto;
    height: 350px; */
  }
  .pokemon__img {
    height: 300px;
    margin: 0 auto;
  }
}

@layer utilities {
  .line-height-60 {
    line-height: 60px;
  }
  .text-3xl.active {
    color: rgb(253 224 71);
  }
}
